DirectoryIndex news.php
Options -Indexes
php_value display_errors Off
php_flag magic_quotes 1
php_flag magic_quotes_gpc 1
php_value mbstring.http_input auto
php_value date.timezone Europe/Moscow
php_value include_path 'engine'
RewriteEngine On
RewriteBase /
RewriteCond %{ENV:REDIRECT_FINISH} ^$
#RewriteRule ^$ engine.php?page=news.php [QSA,L,E=FINISH:1]
RewriteRule ^(.+?\.php)$ engine.php?page=$1 [QSA,L,E=FINISH:1]
ErrorDocument 404 /error404.php
